/*
 * @author hq
 * @date 2024-11-29
 */


.button-sp-areea{
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}
.weui-btn{
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    line-height: 1.411;
    text-decoration: none;
    color: #fff;
background-color: #07c160;
}